[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
"7422b46" = {path = ".\\lazperf-1.1-cp36-cp36m-win_amd64.whl"}


[dev-packages]

pytest = "*"
pylint = "*"
"autopep8" = "*"


[requires]

python_version = "3.6"
